.landing{
    background:url(../assets/super-smash-bros-ultimate-1000x750-1540991670.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;   /* toma el 100% de la pantalla */
    background-repeat: no-repeat;
    display: flex; /* se puede usar flexbox */
    flex-direction: column; /*  me lo pone en columna, por defecto esta en row */
    justify-content: flex-start;
    overflow: hidden; /* quita la barrita del scroll */
}

h1{
    text-align: center;
    font-size: 8rem;
    color: rgb(71, 162, 214);
    margin-top: 34rem;
    
}

.palanca{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 5rem;    
    
}

a>img{ /* los hijos de a, selector de css combinator */
    width: 120px;
    height: 140px;
}




.center{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
