
.pageNumbers{
    display: flex;
    justify-content: center;
    margin: 2rem 0;
}


.paginado{
   
    text-decoration: none;
    display: inline-block;
    padding: 1px;
    justify-content: center;
    text-align: center;
}

.numbers{
    text-decoration: none;
    list-style: none;
    background-color: #D6ECF6;
    border-radius: 10px;
    justify-content: center;
    display: inline-block;
    margin-right: 10px;
    
}

/* .numbers:hover{
    border: 1px solid #211C42;
    box-shadow: 0 0 5px #211C42;
} */

.number{
    display: block;
    width: 3.5rem;
    height: 3.5rem;
    align-content: center;
    text-align: center;
    justify-content: center;
    gap:10px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.5rem;
}

